@font-face {
    font-family: 'After Night';
    src: url(../fonts/after_night/After\ Night.ttf);
}

header {
	background: #E3E0D8;;
    padding: 20px 0;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0;

}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-family: 'After Night';
    color: #94593c;
    font-size: 36px;
    letter-spacing: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #D85413;
    font-size: 38px;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px 20px;
}

.produtos li:hover{
    border: 4px solid #D85413;;
    color: #66280a;
}

.produtos li:active{
    border-color: #FFD700;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 48%;
    border-radius: 5px;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 35%;
    padding: 15px 0;
    background: #957A56;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: #66280a;
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px;
    width: 40%;
}

thead{
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
}

td, th{
    border: 1px solid #66280a;
    padding: 8px 15px;
}

footer{
    text-align: center;
    background: linear-gradient(#94593c, #342702);
    padding: 40px 0;
    margin: 5px;
    border-radius: 5px;
}

.image-rodape{
    height: 150px;
}

.copyright{
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 0;
}